<div class="container admin">
	<div class="page-header">
		<h1>Creaza un nou user</h1>
	</div>

	<%= form_for @user do |f| %>
		<div class="field">
			<%= f.label :username, "User" %>
			<%= f.text_field :username %>
		</div>
		<div class="field">
			<%= f.label :password, "Parola" %>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation, "Confirmare parola" %>
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
			<%= f.submit "Trimite", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
