<% @albums.each do |album| %>
	<div class="page-header">
		<h2><%= album.name.capitalize %></h2>
	</div>
	<div class="row thumbnails">
		<% album.photos[0..2].each do |photo| %>
			<div class="span4">
				<a href= "<%= image_path photo.url %>" class="thumbnail" >
					<%= image_tag photo.url, alt: photo.name %>
				</a>
			</div>
		<% end %>
	</div>
	<br>
	<%= link_to "Mai multe", page_path(album), class: "btn btn-primary pull-right" %>
<% end %>
<%= will_paginate @albums, renderer: BootstrapPagination::Rails, previous_label: "Inainte", next_label: "Urmatoarele" %>
