<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="span3">
				<h2><%= @album.name.capitalize %></h2>
			</div>
			<div class="span2 offset7">
				<br>
				<%= link_to "Inapoi", pages_products_path, class: 'btn btn-primary' %>
			</div>
		</div>
	</div>
	<%= render 'small_slider' %>
</div>
<div class="page-header"></div>
	<div class="thumbnails photos">
		<% @photos.count.times do |i| %>
			<div class="span3">
				<!-- <a href="#myCarousel"> -->
					<%= image_tag @photos[i].url, alt: @photos[i].name, class: "thumbnail", data: { nr: "#{i}"} %>
				<!-- </a> -->
			</div>
		<% end %>
	</div>
	<%= will_paginate @photos, renderer: BootstrapPagination::Rails, previous_label: "Inainte", next_label: "Urmatoarele" %>
</div>