<div class="container">
	<div class="row">
		<div class="span4">
			<h2>Toate albumele</h2>
		</div>
		<div class="span2 offset6">
			<%= link_to "Sincronizeaza", albums_sync_path, :class => "btn btn-primary" %>
		</div>
	</div>

	
	<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Nume</th>
					<th>Numar de poze</th>
				</tr>
			</thead>
			<tbody>
				<% @albums.each do |album| %>
				<tr>
					<td><%= album.name %></td>
					<td><%= album.photos.count %></td>
					<td><%= link_to "Vezi toate pozele", album_path(album) %></td>
					<td><%= link_to "Sterge", "#" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

</div>


<!--	<% @albums.each do |album| %>
	 	<div class="page-header">
			<h3>Nume: <%= album.name %></h3>
		</div>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Imagine</th>
					<th>Nume</th>
					<th>Locatie</th>
				</tr>
			</thead>
			<tbody>
				<% photos = album.photos.all() %>
				<% photos.each do |photo| %>
				<tr>
					<td>
						<div class="span2"><%= image_tag photo.url %></div>
					</td>
					<td><%= photo.name %></td>
					<td><%= photo.url %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div> -->