<!DOCTYPE html>
<html>
<head>
	<title>Maxilux <%= yield(:title) %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render "shared/header" %>
	<%= yield %>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="span4">
					<h3>Contacte</h3>
					<ul class="quick-links">
						<li>Email : Lorem ipsum dolor.</li>
						<li>Nr. tel : Lorem ipsum dolor.</li>
						<li>Adresa : Lorem ipsum dolor sit.</li>
					</ul>
				</div>
				<div class="span4">
					<h3>Retele sociale</h3>
					<ul class="quick-links">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Google+</a></li>
						<li><a href="#">LinkedIn</a></li>
					</ul>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</footer>
</body>
</html>
